*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-image: url(../imgs/bg-binarycode.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    place-items: center;
    position: relative;

    min-height: 100vh;
}

form {
    display: grid;
    border-radius: 0.6rem;
    background: #FFFFFF;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 30%;
    left: 40%;
    width: min(100% - 2rem, 500px);
}

form .wrapper {
    display: grid;
    gap: 0.6rem;
    position: relative;
    padding: 1em;
}

form label {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #4a4a86;
}

form input {
    background: #4d4d50;
    border: 1px solid #323238;
    border-radius: 0.6rem;
    height: 41px;
    padding-inline: 1.2rem;

    width: 80%;

    color: white;
    text-transform: uppercase;
}

form button {
    margin: 1.6rem 0;

    justify-content: center;
    align-items: center;
    padding: 1rem;

    border-radius: 0.6rem;

    cursor: pointer;

    border: none;

    font-weight: 600;
    font-size: 1.2rem;
    color: #121212;
    background: hsl(150, 70%, 50%);

}

form button:hover {
    filter: brightness(1.1);
}

.binary-wrapper {}

#binary-label {}

#binary-input {}

.btn-convert {}

.decimal-wrapper {}

#decimal-label {}

#decimal-input {}